@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

:root {
  --c-black:#16161D;
  --c-font-white:#efe8f1;
  --c-purple-header:#ab3ed8;
  --c-purple-primary:#9333EA;
  --c-purple-secondary:#731cbe;
  --c-purple-gray:#d8bdd8;
  --c-purple-black:#29192eaa;
  --c-purple-black-secondary:#29192ee3;
}

*{
  box-sizing: border-box;
}
html{
  background: var(--c-black);
}

.font-primary{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.font-secondary{
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* fc- Font color */

@layer utilities {
  .fc-white{
    color: var(--c-font-white);
  }
  .fc-gray{
    color: var(--c-purple-gray);
  }
  .fc-purple{
    color: var(--c-purple-primary);
  }
  /* .br-gray{
    border-color: var(--c-purple-gray);
  } */
  .bg-c-black{
    background-color: var(--c-black);
  }
  .bg-purple-black{
    background-color: var(--c-purple-black);
  }
  .bg-c-purple{
    background-color: var(--c-purple-primary);
  }
  .hover\:bg-purple-black:hover {
    background-color: var(--c-purple-black-secondary);
  }
  .hover\:bg-purple-secondary:hover {
    background-color: var(--c-purple-secondary);
  }
  /* .hover\:fc-gray:hover {
    color: var(--c-purple-gray);
  } */
  .hover\:fc-purple:hover {
    color: var(--c-purple-primary);
  }
}